<div class="h-screen">
    <div class="flex mx-auto justify-between gap-10 mt-20 container overflow-hidden bg-white rounded-lg shadow-lg">
        <div class="w-1/4 bg-cover bg-landscape">
            <img src="../../statics/products/{{product.thumbnails.[0].originalName}}" alt={{product.title}}
                class="product-img">
        </div>
        <div class="border-l-2 border-black w-2/4 p-4">
            <h1 class="text-2xl font-bold text-gray-900">
                {{product.title}}
            </h1>
            <p class="mt-2 text-sm text-gray-600">
                {{product.description}}
            </p>
            <p>
                Stock: {{product.stock}}
            </p>
            <div class="flex justify-between flex-col mt-3 item-center">
                <span class="text-xl block font-bold text-gray-700">
                    ${{product.price}}
                </span>
                {{#if product.status}}
                {{/if}}
                {{#if product.stock}}
                <p class="text-gray-500">{{product.stock}} Available units</p>
                {{#if admin}}
                <p class="product-owner">propietario: {{product.owner}}</p>
                <button id="delete-btn" class="delete-btn" onclick="deleteItem(`{{product.id}}`)">Remove product</button>
                {{else}}
                <div class="mt-10">
                    <div class="item-counter-container">
                        <button class="less-button-counter" onclick="decreaseAmount(event, {{product.stock}})">-</button>
                        <p class="counter">1</p>
                        <button class="more-button-counter" onclick="increaseAmount(event, {{product.stock}})">+</button>
                    </div>
                    {{#if product.status}}
                    <button id="add-to-cart-btn" class="px-3 py-2 text-xs font-bold text-white uppercase bg-gray-800 rounded"
                        onclick="addToCart(event, `{{product.id}}`, `{{user.cart}}`)">Add to cart</button>
                    {{/if}}
                </div>
                {{/if}}
                {{else}}
                <p class="text-red-500 font-bold">No stock</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script src="/statics/js/detail.js"></script>