<div class="h-screen">
    <div class="flex mx-auto justify-between gap-10 mt-20 container overflow-hidden bg-white rounded-lg shadow-lg">
        <div class="w-1/4 bg-cover bg-landscape">
            <img src="../../statics/products/{{product.thumbnails.[0].originalName}}" alt={{product.title}}
                class="product-img">
        </div>
        <div class="border-l-2 border-black w-2/4 p-10">
            <h1 class="text-2xl font-bold text-gray-900">
                {{product.title}}
            </h1>
            <hr>
            <p class="mt-2 py-5 text-sm text-gray-600">
                {{product.description}}
            </p>
            <hr>
            <div class="flex justify-between gap-5 flex-col mt-3 item-center">
                <span class="text-xl block font-bold text-gray-700">
                    ${{product.price}}
                </span>
                {{#if product.status}}
                {{/if}}
                {{#if product.stock}}
                <p class="text-gray-500 font-semibold">{{product.stock}} Available units</p>
                {{#if admin}}
                <p class="font-semibold">Owner: {{product.owner}}</p>
                <button class="px-4 py-2 bg-red-500 rounded-md w-1/4 text-white hover:bg-red-700" onclick="deleteItem(`{{product.id}}`)">Remove product</button>
                {{else}}
                <div>
                    <div class="flex gap-5 my-5 items-center text-white">
                        <button class="bg-gray-800 hover:bg-gray-500 px-2 rounded-md" onclick="decreaseAmount(event, {{product.stock}})">-</button>
                        <p class="text-black font-semibold">1</p>
                        <button class="bg-gray-800 hover:bg-gray-500 px-2 rounded-md" onclick="increaseAmount(event, {{product.stock}})">+</button>
                    </div>
                    {{#if product.status}}
                    <button id="add-to-cart-btn" class="px-3 py-2 text-xs font-bold text-white uppercase bg-gray-800 hover:bg-gray-500 rounded"
                        onclick="addToCart(event, `{{product.id}}`, `{{user.cart}}`)">Add to cart</button>
                    {{/if}}
                </div>
                {{/if}}
                {{else}}
                <p class="text-red-500 font-bold">No stock</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script src="/statics/js/detail.js"></script>