<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/css/{{styles}}">
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/icon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/7d65b7aff4.js" crossorigin="anonymous"></script>
    <title>{{title}}</title>
</head>

<body>
    <nav class="border-b-2 border-[#000]/80">
        <div class="container h-fit flex justify-around p-5">
            <a href="/" class="flex gap-5 items-center">
                <h2 class="text-2xl font-extrabold">Outfitx</h2>
            </a>
            <ul class="flex gap-5 items-center">
                <li class="hover:text-black text-[#303030]"><a href="/products" class="font-semibold">Home</a></li>
                {{#if user}}
                {{#if admin}}
                <li class="hover:text-black text-[#303030]">
                    <a href="/users" class="font-semibold">Users List</a>
                </li>
                {{else}}
                <li>
                    <a href="/profile/{{user.id}}" class="font-semibold">Account</a>
                </li class="hover:text-black text-[#303030]">
                {{/if}}
                {{#if premium}}
                <li class="hover:text-black text-[#303030]">
                    <a href="/newproduct" class="font-semibold">New product</a>
                </li>
                {{/if}}
                {{#if admin}}
                <li class="hover:text-black text-[#303030]">
                    <a href="/newproduct" class="font-semibold">New product</a>
                </li>
                {{/if}}
                {{#if cart.products.length}}
                <li class="hover:text-black text-[#303030]">
                    <a href="/cart/{{user.cart}}" class="font-semibold">Cart ({{cart.products.length}})</a>
                </li>
                {{/if}}
                <li class="flex items-center gap-1 hover:text-black text-[#303030]">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <button id="logout-btn" class="font-semibold">Log out</button>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    {{{body}}}

    <footer class="flex flex-col items-center my-2 gap-2">
        <hr class="w-3/4">
        <span class="font-semibold">© 2022 Alessandro Chiavarino, All rights reserved.</span>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/statics/js/main.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>